@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Viga', sans-serif;
}

#main-container {
    margin-top: 20px;
    margin-bottom: 70px;
}

nav.navbar {
    border-top: 5px solid darkslateblue;
    color: darkslateblue;
}

#logo-img {
    height: 30px;
}

#loading-div {
    margin-top: 100px;
}

    #loading-div div.spinner-border {
        height: 100px;
        width: 100px;
        color: darkslateblue;
    }

#loading-div-mini {
    margin-top: 25px;
}

    #loading-div-mini div.spinner-border {
        height: 50px;
        width: 50px;
        color: darkslateblue;
    }

.month-nav-btn {
    color: darkslateblue;
}

.month-nav-btn:hover {
    cursor: pointer;
}

.attendance-btn:hover {
    cursor: pointer;
}

.card {
    border-color: darkslateblue;
    margin-bottom: 15px;
}

.meta-text {
    margin: 0;
    font-size: 12px;
}

.attendee-list{
    padding: 0;
    list-style: none;
    font-size: 12px;
}
